:root {
  --card-borde1: linear-gradient(360deg, #FC2EAD, #B10003);
  --card-borde2: linear-gradient(360deg, #FFD700, #B85B06);
  --card-borde3: linear-gradient(360deg, #41FEEC, #1955EF);
}

.cards-header {
  text-align: center;
  font-size: 2em;
  margin: 4em 1em;
}

.card-container {
  margin: 0em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 4px;
  border-radius: 12px;
}

.card-info {
  background-color: #0a0712;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-container h3,
p {
  padding: 10px;
}

.card-icon {
  color: #fff;
}

.card-container.red {
  background: var(--card-borde1);
}

.card-container.orange {
  background: var(--card-borde2);
}

.card-container.blue {
  background: var(--card-borde3);
}

@media (max-width: 441px) {
  .cards-header {
    margin: 2em 0em;
  }
}