.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.5rem;
  align-items: center;
  background-color: #B40000;
  width: 100vw;
}

.switches {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  padding-right: 2rem;
  gap: 1rem;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.25s ease, transform 0.25s ease;
}

.navbar-menu li:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

@media (max-width: 441px) {
  .navbar-container {
    gap: 10px;
  }

  .switches {
    margin: 6px 0px;
  }
}