h3 {
  font-size: 32px;
  font-weight: bold;
}

.news-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.news-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1em 0em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form input {
  width: 200px;
  height: 60px;
  border-radius: 12px;
}

.button-border {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 4px;
  border: none;
  text-align: center;
  border-radius: 40px;
  width: auto;
  background: linear-gradient(360deg, #FFD700, #B85B06);
}

.button-form {
  width: auto;
  height: 46px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 40px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button-form:hover {
  background-color: linear-gradient(360deg, #FFD700, #B85B06);
}

.input {
  padding: 4px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(360deg, #FFD700, #B85B06);
}

.input-form {
  border: none;
  background-color: #f0f0f1;
  color: rgb(108, 107, 107);
  top: 2em;
  padding: 1em;
  width: 100%;
  height: 460px;
  text-align: left;
}

.news-info {
  width: 70%;
  height: 460px;
  background-color: #000;
  overflow: visible;
}

.intro {
  margin-top: 3em;
  font-size: 16px;
  font-weight: 600;
}

.feat {
  margin-top: 3em;
  font-size: 12px;
  font-weight: 600;
  width: 40%;
}

@media (max-width: 440px) {
  .news-container {
    display: flex;
    flex-direction: column;
  }

  .news-form {
    width: 100%;
  }

  .news-info {
    width: 100%;
  }
}