@font-face {
  font-family: "Titles";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Subtitles";
  src: url("./assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Subtitles-Regular";
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Text";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

:root {
  --font-title: "Titles", sans-serif;
  --font-subtitle: "Subtitles", sans-serif;
  --font-subtitle_2: "Subtitles-Regular", sans-serif;
  --font-text: "Text", sans-serif;
}

h1, h2 {
  font-family: var(--font-title)
}

h3, h4, li {
  font-family: var(--font-subtitle);
}

button {
  font-family: var(--font-subtitle_2)
}

p {
  font-family: var(--font-text)
}

.cards {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 2em;
}

footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282727;
  color: #fff;
}

@media (max-width: 441px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}